* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: black;
    color: white;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    cursor: pointer;

    transition: background 0.4s ease;
}

body.paused {
    background: #111;
}

.background {
    position: fixed;
    inset: 0;

    background:
    linear-gradient(
        270deg,
        #ff4e50,
        #1e90ff,
        #8e44ad,
        #ff758c
    );

    background-size: 700% 700%;

    animation: moveBg 18s ease infinite;

    z-index: -1;

    opacity: 0.9;
}

@keyframes moveBg {

    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}

.lyrics {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.line {

    position: absolute;

    top: 50%;
    left: 50%;

    transform:
    translate(-50%, -50%);

    width: 100%;

    opacity: 0;

    font-size: 34px;
    font-weight: 300;

    letter-spacing: 0.5px;

    transition:
    opacity 1.6s ease,
    transform 1.6s ease;

    user-select: none;

    text-shadow:
    0 0 10px rgba(0,0,0,0.4);

}

.line.active {

    opacity: 1;

    transform:
    translate(-50%, -54%);

}
